.products-list-container {
    padding: 30px;
}

.products-list-container>h1 {
    margin-bottom: 40px;
}

.product {
    width: 100%;
    margin-bottom: 36px;
}

.product p {
    margin: 0;
}

.product-market {}

.product-name {}

.product-price {
    font-weight: bold;

}

.product-result-wave {
    margin-top: -273px;
}

@media (max-width:480px) {
    .product-result-wave {
        margin-top: -290px;
    }
}

.top-to-btm{
    position: relative;
  }
  .icon-position{
    position: fixed;
    bottom: 40px;
    right: 25px;
    z-index: 20;
  }
  .icon-style{
    background-color: #000000;
    border: 2px solid #fff;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    color: #fff;
    cursor: pointer;
    animation: movebtn 3s ease-in-out infinite;
    transition: all .5s ease-in-out;
  }
  .icon-style:hover{
    animation: none;
    background: #fff;
    color: #000000;
    border: 2px solid #000000;
  }
  @keyframes movebtn {
    0%{
      transform: translateY(0px);
    }
    25%{
      transform: translateY(20px);
    }
    50%{
      transform: translateY(0px);
    }
    75%{
      transform: translateY(-20px);
    }
    100%{
      transform: translateY(0px);
    }
  }
